#header4-a P {
  text-align: left;
}
#header4-a H1 {
  text-align: left;
}
#menu-1c .mbr-brand__name {
  font-size: 16px;
}
#menu-1c.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-1c .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-1k .mbr-brand__name {
  font-size: 16px;
}
#menu-1k.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-1k .mbr-navbar__hamburger {
  color: #ffffff;
}
#slider2-1l P {
  font-size: 16px;
  text-align: center;
  color: #ffffff;
}
#slider2-1l H1 {
  font-size: 30px;
}
#features1-1g .mbr-section__col .mbr-header__text {
  text-align: center;
}
#menu-1m .mbr-brand__name {
  font-size: 16px;
}
#menu-1m.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-1m .mbr-navbar__hamburger {
  color: #ffffff;
}
